<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    {% load static %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"> </script>
  </head>
  <body>
    <p><button type="submit" class="get_ajax">Run Ajax Request to Root</button></p>
    <p><button type="submit" class="ping_button">Run Ajax Request to Ping</button></p>
    <p><button type="submit" class="pong_button">Run Ajax Request to Pong</button></p>
    <section>

    </section>
  </body>
</html>
